<!-- Edit form enter password page -->

<!-- Use base.html -->
{% extends "base.html" %} 

<!-- Head -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}
<div class = "content">
    <!-- Display JavaScript only alert if disabled -->
    <noscript>
        <h1>JavaScript is disabled!</h1>
        <h3>While it is entirely possible to submit and view orders with no JavaScript, it is required for editing orders.</h3>
    </noscript>

    <div class = "javascript_only">

        <h1>Edit order {{ order.id }} ({{ order.name }})</h1>
        <form method = "GET" action = "/"> <button type = "submit" class = "button">Back to main</button> </form> <br>
        <form method = "GET" action = "/viewAllOrders"> <button type = "submit" class = "button">View orders</button> </form> <br>
        <hr>

        <!-- Make user input password -->
        <div class = "center_text">

            <form action = "/editOrder/{{ order.id }}" method = "POST" autocomplete = "off">
            
                <h3>Enter PIN</h3>
                <input type = "password" name = "OrderPINEdit">
                <input type = "submit" name = "action" value = "Edit">
            
            </form>

        </div>

    </div>
</div>
{% endblock %}