<!-- Form enchant page -->

<!-- Use base.html -->
{% extends "base.html" %} 

<!-- Head -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}
<div class = "content">
    <h1>Select enchants</h1>
    <form method = "GET" action = "/"> <button type = "submit" class = "button">Back to main</button> </form> <br>
    <br>

    <div class = "centerText">
        <!-- Form -->
        <form action = "/form" method = "POST" onkeydown = "return event.key != 'Enter';" class = "form" autocomplete = "off">
            <!-- Get username -->
            <p>Current Minecraft Username</p>
            <input type = "text" name = "Username" maxlength = "16" minlength = "3" required>
            <br>
            <!-- Get minecraft server -->
            <p>Minecraft Server</p>
            <div class = "multipleSelection">
                <input type = "radio" name = "Minecraft Server" value = "New Minecraft Server" required checked> <label for = "New Minecraft Server">New Minecraft Server</label> <br>
                <input type = "radio" name = "Minecraft Server" value = "Old Minecraft Server" required> <label for = "Old Minecraft Server">Old Minecraft Server</label> <br>
            </div>

            <!-- Get number of products that user ordered -->
            {% for product in orderContent.items() %}

                <!-- Make sure user ordered product -->
                {% if product[1] != 0 %}

                    <!-- Repeat for how many user selected for-->
                    {% for currentProductNumber in range(product[1]) %}

                        <!-- Print product and product number -->
                        <hr>
                        <h5>{{ product[0] }} {{ (currentProductNumber + 1) }}</h5>

                        <!-- Get product name -->
                        <p>Name of {{ product[0] }} {{ (currentProductNumber + 1) }} (leave blank for default name)</p>
                        <input type = "text" name = "{{ product[0] }} {{ (currentProductNumber + 1) }} Name" maxlength = "35">
                        <br>

                        <!-- Enchants -->

                        <!-- Checkboxes -->
                        {% for enchant in productDictionary[product[0]]["enchants"]["checkboxes"] %}

                            <input type = "checkbox" name = "{{ product[0] }} {{ (currentProductNumber + 1) }} {{ enchant }}">
                            <label for = "{{ product[0] }} {{ (currentProductNumber + 1) }} {{ enchant }}">{{ enchant }}</label>
                            <br>

                        {% endfor %}
                        
                        <!-- Multiple selection -->

                        {% for multipleSelectionList in productDictionary[product[0]]["enchants"]["multipleSelection"] %}
                            <div class = "multipleSelection">

                                {% for enchant in multipleSelectionList %}

                                    <br>
                                    <input type = "radio" name = "{{ product[0] }} {{ (currentProductNumber + 1) }} Multiple Choice {{ multipleSelectionList }}" value = "{{ enchant }}">
                                    <label for = "{{ product[0] }} {{ (currentProductNumber + 1) }} Multiple Choice {{ multipleSelectionList }}">{{enchant}}</label>

                                {% endfor%}

                                <!-- Clear selection button (JavaScript only) -->
                                <!-- Make sure that the multiple selection list contains items -->
                                {% if multipleSelectionList != [] %}
                                    <br> <button type = "button" class = "button button_clear_selection javascript_only" onclick = "clearRadioGroup(`{{ product[0] }} {{ (currentProductNumber + 1) }} Multiple Choice {{ multipleSelectionList }}`);">Clear selection</button>
                                {% endif %}

                            </div>

                        {% endfor %}

                        <!-- Additional information -->
                        <p>Additional information</p>
                        <input type = "text" name = "{{ product[0] }} {{ (currentProductNumber + 1) }} Additional" maxlength = "60">
                        <br>

                    {% endfor %}

                {% endif %}

            {% endfor %}

            <hr>
            <p>You have reached the end of the form! Is there anything you would like to let me know?</p>
            <input type = "text" name = "Additional Information" maxlength = "240">
            <br><br><br>

            <button type = "submit" name = "action" value = "Submit order!" class = "button">Submit order!</button>

        </form>

    </div>

    <!-- JavaScript -->
    <script>
        // Clear radio selection group
        function clearRadioGroup(radioGroup) {
            // Get radio buttons
            var radioButtons = document.getElementsByName(radioGroup);

            // Set each radio button to false
            for (var index = 0; index < radioButtons.length; index++) {
                radioButtons[index].checked = false;
            }
        }
    </script>

{% endblock %}