<!-- Landing page -->

<!-- Use base.html -->
{% extends "base.html" %} 

<!-- Head -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}
<div class = "content">
    <h1>Sheepy's God Gear Shop</h1>
    <hr>

    <a href = "/form" class = "button">Form</a> <br>
    <a href = "/viewAllOrders" class = "button">All orders</a> <br>
    <a href = "/allEnchantments" class = "button">Enchant dictionary</a> <br>

    <p>The God Gear will cost:</p>
    <ul>
        <li>The cost to make the gear in diamonds, or already made gear</li>
        <li>15 diamonds per elytra</li>
        <li>5 diamonds per order (profit)</li>
    </ul>

    <h5 class = "tinyText">Some things to note:</h5>
    <ul>
        <li class = "tinyText">You will only have to pay for the diamonds to make the gear (you will not have to pay 2 sticks or iron for example).</li>
        <li class = "tinyText">If you wish to purchase other than diamond gear, you will have to drop off the gear (for example gold armor or a turtle helmet).</li>
        <li class = "tinyText">You can only order up to 5 of a paid item and 3 of a free item at a time on the form (if you wish to order more, you will have to make a new form).</li>
    </ul>
    
{% endblock %}