<!-- View order page -->

<!-- Use base.html -->
{% extends "base.html" %} 

<!-- Head -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}
<div class = "content">
    <h1>Viewing order {{ order.id }}</h1>

    <form method = "GET" action = "/"> <button type = "submit" class = "button">Back to main</button> </form> <br>
    <form method = "GET" action = "/viewAllOrders"> <button type = "submit" class = "button">View orders</button> </form> <br>
    <hr>

    <p>Order {{ order.id }}</p>
    <p>Username: {{ order.name }}</p>
    <p>Ordered on {{ order.dateCreated.date() }} at {{ order.dateCreated.time() }} UTC</p>

    <!-- Show table with order -->
    <table>
        
        <th>Item</th>
        <th>Content</th>

        {% for orderContent in order.content.items() %}
        
        <tr>
            <td>{{ orderContent[0] }}</td>
            <td>
                {% for orderContent in orderContent[1].items() %}

                    {{ orderContent[0] }}: {{ orderContent[1] }}
                    <br>

                {% endfor %}
            </td>
        </tr>

        {% endfor %}

    </table>

{% endblock %}