<!-- View order page -->
<!-- Note: This has been depreceated and is no longer being used. -->
<!-- I have switched from this to a nicer one that looks like the form itself. -->


<!-- Use base.html -->
{% extends "base.html" %} 

<!-- Head -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}

<div class = "content">
    <h1>Viewing order {{ order.id }}</h1>

    <form method = "GET" action = "/"> <button type = "submit" class = "button">Back to main</button> </form> <br>
    <form method = "GET" action = "/viewAllOrders"> <button type = "submit" class = "button">View orders</button> </form> <br>
    <hr>

    <p>Order {{ order.id }}</p>
    <p>Username: {{ order.name }}</p>
    <!-- Change date created to timezone -->
    {% set date_created_shift = (order.dateCreated + timedelta(hours = -5)) %}
    {% if date_created_shift.hour < 12 %} {% set am_or_pm = "AM" %} {% else %} {% set am_or_pm = "PM" %} {% endif %}
    <p>Ordered on {{ date_created_shift.date() }} at {% if am_or_pm == "AM" %}{{ date_created_shift.hour }}{% else %}{% if date_created_shift.hour - 12 == 0 %}12{% else %}{{ date_created_shift.hour - 12 }}{% endif %}{% endif %}:{% if (date_created_shift.minute / 10) < 1 %}0{% endif %}{{ date_created_shift.minute }} {{ am_or_pm }} EST</p>
    <!-- Show table with order -->
    <table>
        
        <th>Item</th>
        <th>Content</th>

        {% for orderContent in order.content.items() %}
        
        <tr>
            <td>{{ orderContent[0] }}</td>
            <td>
                {% for orderContent in orderContent[1].items() %}

                    {{ orderContent[0] }}: {{ orderContent[1] }}
                    <br>

                {% endfor %}
            </td>
        </tr>

        {% endfor %}

    </table>

{% endblock %}