<!-- View order page -->
<!-- This page does not have the new GUI, look at orderViewGUI.html-->

<!-- Use base.html -->
{% extends "base.html" %} 

<!-- Head -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}

<div class = "content">
    <h1>Viewing order {{ order.id }}</h1>

    <form method = "GET" action = "/"> <button type = "submit" class = "button">Back to main</button> </form> <br>
    <form method = "GET" action = "/viewAllOrders"> <button type = "submit" class = "button">View orders</button> </form> <br>
    <hr>

    <p><strong>Status: {{ order.status }}</strong></p>
    <p><strong>Prioritize: {{ order.priority }}</strong></p>
    <p>Order {{ order.id }}</p>
    <p>Username: {{ order.name }}</p>

    <!-- Change date created to timezone -->
    {% set date_created_shift = (order.date_created + timedelta(hours = -5)) %}
    {% if date_created_shift.hour < 12 %} {% set am_or_pm = "AM" %} {% else %} {% set am_or_pm = "PM" %} {% endif %}
    <p>Ordered on {{ date_created_shift.date() }} at {% if am_or_pm == "AM" %}{{ date_created_shift.hour }}{% else %}{% if date_created_shift.hour - 12 == 0 %}12{% else %}{{ date_created_shift.hour - 12 }}{% endif %}{% endif %}:{% if (date_created_shift.minute / 10) < 1 %}0{% endif %}{{ date_created_shift.minute }} {{ am_or_pm }} EDT</p>
    
    <!-- Show table with order -->
    <table>
        
        <th>Item</th>
        <th>Content</th>

        {% for order_content in order.content.items() %}
        
        <tr>
            <td>{{ order_content[0] }}</td>
            <td>
                {% for order_content in order_content[1].items() %}

                    {{ order_content[0] }}: {{ order_content[1] }}
                    <br>

                {% endfor %}
            </td>
        </tr>

        {% endfor %}

    </table>

    <!-- Get raw data hyperlink -->
    <br><br><a href = "/getRawData/{{ order.id }}" class = "center">Get raw data of order (ADMIN ONLY)</a>

{% endblock %}