<!-- View order page with a nice GUI -->

<!-- Create matched namespace variable -->
{% set match = namespace(bool = false) %}

<!-- Use base.html -->
{% extends "base.html" %} 

<!-- Head -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}

<div class = "content">
    <h1>Viewing order {{ order.id }}</h1>

    <form method = "GET" action = "/"> <button type = "submit" class = "button">Back to main</button> </form> <br>
    <form method = "GET" action = "/viewAllOrders"> <button type = "submit" class = "button">View orders</button> </form> <br>
    <hr>

    <p><strong>Status: {{ order.status }}</strong></p>
    <p><strong>Prioritize: {{ order.priority }}</strong></p>
    <p>Order {{ order.id }}</p>
    <p>Username: {{ order.name }}</p>

    <!-- Change date created to timezone -->
    {% set date_created_shift = (order.date_created + timedelta(hours = -5)) %}
    {% if date_created_shift.hour < 12 %} {% set am_or_pm = "AM" %} {% else %} {% set am_or_pm = "PM" %} {% endif %}
    <p>Ordered on {{ date_created_shift.date() }} at {% if am_or_pm == "AM" %}{{ date_created_shift.hour }}{% else %}{% if date_created_shift.hour - 12 == 0 %}12{% else %}{{ date_created_shift.hour - 12 }}{% endif %}{% endif %}:{% if (date_created_shift.minute / 10) < 1 %}0{% endif %}{{ date_created_shift.minute }} {{ am_or_pm }} EDT</p>

    <!-- Iterate through each item in order -->
    {% for order_content in order.content.items() %}

        <!-- The item is an item -->
        {% if order_content[0] != "Extra" %}

            <!-- Product name -->
            <p>Name of {{ order_content[0] }}</p>
            <input type = "text" class = "text_input" value = "{{ order_content[1][' Name'] }}" disabled>

            <!-- Checkboxes -->
            <br>
            
            {% for checkbox_enchant in product_dictionary[(order_content[0][:-2])]["enchants"]["checkboxes"] %}

                {% set match.bool = false %}

                {% for selected_enchant in order_content[1]["Enchantments"] %}
                    {% if selected_enchant == checkbox_enchant %}
                        {% set match.bool = true %}
                    {% endif %}

                {% endfor %}

                <div class = "checkbox">

                    <label>

                        <input type = "checkbox" name = "{{ order_content[0] }} {{ checkbox_enchant }}" disabled
                        {% if match.bool == True %}
                            checked
                        {% endif %}
                        >

                        {{ checkbox_enchant }}

                    </label>
                    
                </div>

            {% endfor %}

            <!-- Multiple selection -->

            {% for enchant_list in product_dictionary[(order_content[0][:-2])]["enchants"]["multipleSelection"] %}

                <br>

                {% for multiple_selection_enchant in enchant_list %}

                    {% set match.bool = false %}

                    {% for selected_enchant in order_content[1]["Enchantments"] %}

                        {% if selected_enchant == multiple_selection_enchant %}
                            {% set match.bool = true %}
                        {% endif %}

                    {% endfor %}

                    <div class = "multiple_selection">
                        
                        <label>

                            <input type = "radio" name = "{{ order_content[0] }} Multiple  {{ enchant_list }}" disabled
                            {% if match.bool == True %}
                                checked
                            {% endif %}
                            >

                            {{ multiple_selection_enchant }}

                        </label>                        

                    </div>

                {% endfor %}

            {% endfor %}

            <!-- Additional information -->
            <p>Additional Information</p>
            <input type = "text" class = "text_input" value = "{{ order_content[1][' Additional'] }}" disabled>

            <hr>

        <!-- Extra (special) -->
        {% else %}

            {% for item in order_content[1].items() %}

                <p>{{ item[0] }}: {{ item[1] }}</p>

            {% endfor %}

            <!-- So... Extra will start at beginning. So, we start our form here. -->
            <form class = "form">

        {% endif %}

    {% endfor %}

    </form>

    <a href = "/viewOrderNoGUI/{{ order.id }}" class = "center">Old view order</a>
    <a href = "/changeStatus/{{ order.id }}" class = "center">Change status</a>

{% endblock %}