<!-- Remove submission page -->
<!-- Password is: LaCraftyIsSmelly!@#$-->

<!-- Use base.html -->
{% extends "base.html" %} 

<!-- Head -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}
<div class = "content">
    <h1>Remove order {{ orderID }} ({{ order.name }})</h1>
    <form method = "GET" action = "/"> <button type = "submit" class = "button">Back to main</button> </form> <br>
    <form method = "GET" action = "/viewAllOrders"> <button type = "submit" class = "button">View orders</button> </form> <br>
    <hr>

    <!-- Make user input password -->
    <div class = "centerText">

        <form action = "/deleteOrder/{{ orderID }}" method = "POST">
        
            <h3>Enter master password</h3>
            <input type = "password" name = "PasswordRemove" id = "PasswordRemove">

            <input type = "submit" name = "action" value = "Remove">
        
        </form>

    </div>

{% endblock %}