<!-- View submissions page -->

<!-- Use base.html -->
{% extends "base.html" %} 

<!-- Head -->
{% block head %}{% endblock %}

<!-- Body -->
{% block body %}
<div class = "content">
    <h1>All Orders</h1>
    <form method = "GET" action = "/"> <button type = "submit" class = "button">Back to main</button> </form> <br>
    <hr>
    <!-- Show table with all submissions -->
    <table>
        <tr>
            <th>Order ID</th>
            <th>Username</th>
            <th>Date ordered</th>
            <th>Options</th>
        </tr>
        
        {% for order in allOrders %}

            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.name }}</td>
                <td>{{ (order.dateCreated + timedelta(hours = -5)).date() }}</td>
                <td>
                    <form method = "GET" action = "/viewOrder/{{ order.id }}"> <button type = "submit" class = "button small_button">View order</button> </form>
                    <form method = "GET" action = "/removeOrder/{{ order.id }}"> <button type = "submit" class = "button small_button">Remove order</button> </form>
                </td>

            </tr>

        {% endfor %}

    </table>

{% endblock %}